#contentContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100%;
}

#contentContainer img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
}

#yelpBars {
  padding: 0;
  border-radius: 5px;
}

#yelpBars li {
  list-style: none;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0;

  margin-bottom: 5px;
  border-radius: 5px;

  position: relative;
}

#yelpBars li a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  border: 1px solid #000;
  padding: 1px;
  margin-top: 1px;
  border-radius: 3px;
  display: inline-block;
}

#yelpBars li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#yelpBars li:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

#yelpBars li:active {
  background-color: rgba(255, 255, 255, 0.5);
}

#yelpBars li > div:nth-child(1) {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #000;
}

#yelpBars li > div:nth-child(1) img {
  width: 140%;
  height: auto;
  border: none;
}

#yelpBars li:hover > div:nth-child(1) img {
  transform: scale(110%);
  transition: all 0.2s;
}

#yelpBars li:active > div:nth-child(1) img {
  transform: scale(104%);
}

#yelpBars li > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  position: relative;
  right: 25px;
}

#yelpBars li > div:nth-last-of-type(1) {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 57px;
  transform: rotate(27deg);
  background-color: initial;
}

form {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 28px;
  z-index: 10;
  padding: 5px 0;
  background-color: rgb(185, 185, 185);
}

form > * {
  width: 100%;
  text-align: center;
}

form input,
button {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
}

form input:nth-child(1) {
  margin-bottom: 5px;
}

#directions {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

#directions h3,
#directions button {
  margin-top: 15px;
}

#directions h4 {
  margin-top: 0;
}

#directions ul {
  padding-inline-start: 40px;
}

#routeContent > div:nth-child(1) {
  position: relative;
  width: 100%;
  margin-bottom: 1px;
}

#noResults {
  background-color: #fff;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
}

#noResults ol {
  padding-inline-start: 40px;
}

button,
input[type="submit"] {
  width: 100%;
  display: block;
}

button.submit {
  animation: 1s 1 success;
}

@keyframes success {
  0% {
    background-color: initial;
  }

  100% {
    background-color: rgb(83, 150, 83);
    color: #fff;
  }
}

button a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
  width: 100%;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #dbdbdb;
}

#yelpBars li.default {
  display: none;
}

#noResults {
  min-height: calc(100vh - 150px);
}

div#noResults.loading div {
  position: -webkit-sticky;
  position: sticky;
  top: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}

#contentContainer img#demoImg {
  border-radius: initial;
  margin-top: 5px;
}

#homeMessage {
  position: -webkit-sticky;
  position: sticky;
  top: 28px;
}

#homeMessage button {
  width: auto;
  display: inline-block;
  padding: 5px 8px;
}

.loader {
  animation: 1s infinite spin;
  font-size: 200px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

div#noResults.loading span {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  animation: 1s infinite move-backwards;
}

@keyframes move-backwards {
  0% {
    opacity: 0;
    right: -60px;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 30px;
  }
}

/* Desktop Version */
@media screen and (min-width: 600px) {
  #contentContainer {
    flex-direction: row;
    max-width: 800px;
  }

  #contentContainer > div {
    flex: 1;
  }

  #contentContainer > div:nth-child(1) {
    min-width: 280px;
  }

  #contentContainer > div:nth-child(1) > div {
    position: -webkit-sticky;
    position: sticky;
    top: 28px;
    z-index: 10;
  }

  #contentContainer > div:nth-child(2) {
    flex-basis: 400px;
    margin: 5px 0 0 5px;
    max-width: 453px;
  }

  #yelpBars li.default {
    display: flex;
    opacity: 0.5;
    cursor: initial;
    padding-right: 8px;
  }

  #yelpBars li.default > div {
    background-color: #a0a0a0;
    color: #a0a0a0;
    border: none;

    position: initial;
  }

  #yelpBars li.default.noSelect > div:nth-child(2) {
    position: relative;
    right: 21px;
    background-color: initial;
  }

  #yelpBars li.default.noSelect:hover {
    cursor: pointer;
  }

  #yelpBars li.default.noSelect div {
    background-color: inherit;
    color: inherit;
  }

  #yelpBars li.default.noSelect > div:nth-last-of-type(1) {
    transform: rotate(158deg);
    background-color: initial;
    font-size: 47px;
    position: absolute;
    top: 3px;
    right: 2px;
  }

  #yelpBars li.default.noSelect img,
  #yelpBars li.default.noSelect:hover img {
    transform: rotate(180deg);
    filter: grayscale(1);
  }

  #noResults {
    min-height: 100%;
  }
}
